name: Publish to WinGet

on:
  release:
    types: [published]

jobs:
  winget:
    name: Publish to WinGet
    runs-on: ubuntu-latest
    steps:
      - name: Winget Releaser
        uses: vedantmgoyal9/winget-releaser@v2
        with:
          identifier: DimonSmart.NugetMcpServer
          installers-regex: '\.zip$'
          token: ${{ secrets.WINGET_TOKEN }}
